body{
  background-color: #607d8b;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.icon{
  height: 1em !important;
}
.ui.buttons .button{
  margin: 0px 2px;
}
h2{
  margin-top: 15px !important;
}
